@charset "utf-8";
@import "color.css";

/*---------------------------*/
/* 編排網頁                   */
/*---------------------------*/
html, body{
    font-family: 'Noto Sans TC', sans-serif; 
    background: var(--color-primary-0);
}

/*---------------------------*/
/* 編排<容器>區塊             */
/*---------------------------*/
div.container{
    background: var(--color-primary-0);
}
p{
    font-size: 30px;
}

/*---------------------------*/
/* 編排<標題>區塊             */
/*---------------------------*/
div.header{

}


/*---------------------------*/
/* 編排<內文>區塊             */
/*---------------------------*/
div.content{   
    
}

/*---------------------*/
/* 修飾表格             */
/*---------------------*/


/*---------------------*/
/* 單一資料表格        */
/*---------------------*/


/*---------------------*/
/* 修飾分頁導覽列       */
/*---------------------*/


/*---------------------*/
/* 修飾表單             */
/*---------------------*/


/*---------------------------*/
/* 編排<表尾>區塊             */
/*---------------------------*/
div.footer{
    
}
