@charset "utf-8";

.sideMenu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #fff;
  border-right: 3px solid #d1d1d1;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-shadow: 5px 0 5px rgba(#303c4d, 0.6);
}


nav {
  a {
    display: block;
    color: #000;
    padding: 20px 10px;
    position: relative;
    font-weight: 300;

    .fas {
      margin-right: -0.5em; /* 讓文字靠左對齊 */
      transform: scale(0); /* 使圖示消失 */
      transition: 0.3s;
    }

    &:hover .fas {
      margin-right: 0em; /* 使文字回到原來的位置 */
      transform: scale(1); /* 使圖示出現 */
    }

    & + a::before {
      content: "";
      position: absolute;
      border-top: 1px solid #000;
      left: 10px;
      right: 10px;
      top: 0px;
    }
  }
}


/*
.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #fff;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}



.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#000, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: #000;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#000, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91)
    }
  }
}
*/

/*
.twitter {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  a {
    position: relative;
    
    img {
      width: 48px;
      height: 48px;
    }
  }
  
  p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
  }
}
*/
