body {
    background-color: #cce7f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    background-color: #cce7f0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 800px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

.form-group input, .form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    padding: 9px;
}

.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: #007BFF;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-group .confirm-button {
    background-color: #CBE5F3;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 50%;
}

.form-group .confirm-button:hover {
    background-color: #b8d1df;
}

div.footer{
    height: 60px;
}