body {
    background-color: #cce7f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cce7f0;
    padding: 10px;
    width: 150px;
    height: 100vh;
}

.sidebar .back-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.sidebar .back-link:hover {
    color: #007BFF;
}

.header {
    background-color: #cce7f0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 400px;
    border-radius: 10px;
}

.chat-box {
    background-color: #f0f0f0;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    background-color: #cce7f0;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #b8d1df;
}

p {
    margin: 10px 0;
    padding: 5px;
    background-color: #e7f3f5;
    border-radius: 5px;
}