<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>筆記清單</title>
</head>
<body>
    <h1>筆記列表</h1>
    <ul id="navigation">        
        <li><a href="/note/create/form">新增筆記</a></li> 
    </ul>
    
    <table border="1">
        <thead>
            <tr>
                <th>編號</th>
                <th>標題</th>
                <th>內容</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>  <!-- no -->
                <td>{{ row[1] }}</td>  <!-- title -->
                <td>{{ row[2] }}</td>  <!-- content -->
            </tr>
            {% else %}
            <tr>
                <td colspan="3">沒有資料</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
