<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Boundless Learn</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/static/imgs/icon.jpg" rel="shortcut icon">
<link href="/static/css/game.css" rel="stylesheet"/>  
<link href="/static/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">主畫面</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <a href="/gamec"><button class="button" type="button">國文</button></a>
            <a href="/gamem"><button class="button" type="button">數學</button></a>
            <a href="/gamee"><button class="button" type="button">英文</button></a>
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2023.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
