<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Boundless Learn</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/static/imgs/icon.jpg" rel="shortcut icon">
<link href="/static/css/note.css" rel="stylesheet"/>  
<link href="/static/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">主畫面</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>我的筆記</h2>
            <a href="/newnote"><button class="newnote" type="button">+</button></a>

            <p>
                <table>
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>標題</th>
                            <th>內容</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>240720</td>
                            <td>筆記1</td>
                            <th><a href="/notec">查看</a></th>
                        </tr>
                        
                    </tbody>
                    
                </table>
            </p>       
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2023.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
